:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --desaturated-dark-cyan--transparent: hsl(180, 29%, 50%, 0.5);
  --light-grayish-cyan--background: hsl(180, 52%, 96%);
  --light-grayish-cyan--tablets: hsl(180, 31%, 95%);
  --white: hsl(0, 0%, 100%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --dark-grayish-cyan--light: hsla(180, 8%, 52%, 0.4);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

  --container-border-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--desaturated-dark-cyan--transparent);
}

*:focus:not(:focus-visible) {
  box-shadow: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
  background: linear-gradient(
    to bottom,
    var(--desaturated-dark-cyan) 0%,
    var(--desaturated-dark-cyan) 15.6rem,
    var(--light-grayish-cyan--background) 15.6rem,
    var(--light-grayish-cyan--background) 100%
  );
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.header {
  height: 15.6rem;
  background-image: url(images/bg-header-mobile.svg);
  background-size: 100% 100%;
}

.main {
  width: 100%;
  min-height: calc(100vh - 15.6rem - 6rem);
  /* 100vh - header - footer */

  display: flex;
  flex-direction: column;
}

.main--container-search-visible {
  margin-top: -3.55rem;
  min-height: calc(100vh - 15.6rem - 6rem + 3.55rem);
}

.container {
  max-width: 54rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.item {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: var(--container-border-radius);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
}

.item--search {
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hidden {
  display: none;
}

.search-tags {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.search-tag {
  display: flex;
  align-items: center;
}

.search-tag-name {
  color: var(--desaturated-dark-cyan);
  background-color: var(--light-grayish-cyan--tablets);
  padding: 0.9rem 0.9rem 0.65rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.btn-remove {
  height: 100%;
  padding: 0 0.85rem;
  background-color: var(--desaturated-dark-cyan);
  border: none;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-out;

  display: flex;
  align-items: center;
}

.btn-remove:hover {
  background-color: var(--very-dark-grayish-cyan);
}

.btn-clear {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: var(--dark-grayish-cyan);
  border: none;
  background-color: inherit;
  margin: 0.4rem 0.5rem 0 0;
  cursor: pointer;
  box-shadow: none;
  transition-property: color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.btn-clear:hover {
  color: var(--desaturated-dark-cyan);
  box-shadow: 0 1px 0 0 var(--desaturated-dark-cyan);
}

.btn-clear:focus {
  box-shadow: 0 0 0 0.4rem var(--desaturated-dark-cyan--transparent);
}

.container--jobs {
  padding-top: 6rem;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.item--job {
  padding: 3.2rem 2.3rem 2.5rem;
  position: relative;
}

.item--job::before {
  content: '';
  visibility: var(--beforeVisibility, hidden);
  height: 100%;
  width: 1.5rem;
  background: linear-gradient(
    to right,
    var(--desaturated-dark-cyan) 0%,
    var(--desaturated-dark-cyan) 0.5rem,
    var(--white) 0.5rem,
    var(--white) 100%
  );
  border-top-left-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
  position: absolute;
  top: 0;
  left: 0;
}

.logo-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(2.5rem, -50%);
}

.logo {
  width: 4.7rem;
  height: 4.7rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.info-box {
  border-bottom: 1.4px solid var(--dark-grayish-cyan--light);
  padding-bottom: 1.75rem;
}

.company-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1.3rem;
}

.company {
  color: var(--desaturated-dark-cyan);
}

.feature-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.feature-tag {
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 100rem;
  padding: 0.6rem 1rem 0.3rem;
}

.feature-tag--new {
  background-color: var(--desaturated-dark-cyan);
}

.feature-tag--featured {
  background-color: var(--very-dark-grayish-cyan);
}

.position {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  background-color: inherit;
  text-align: start;
  color: var(--very-dark-grayish-cyan);
  margin-bottom: 1.8rem;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in, box-shadow 0.3s ease-out;
}

.position:hover {
  color: var(--desaturated-dark-cyan);
}

.details {
  color: var(--dark-grayish-cyan);
  font-weight: 500;
  list-style: none;

  display: flex;
  gap: 2.5rem;
}

.details-item {
  display: inline-block;
  position: relative;
}

.details-item::after {
  content: '';
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--dark-grayish-cyan--light);
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(1.45rem, 0.12rem);
}

.details-item:last-child:after {
  display: none;
}

.offer-tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.btn-offer-tag {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: var(--desaturated-dark-cyan);
  padding: 0.9rem 0.9rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--light-grayish-cyan--tablets);
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.btn-offer-tag:hover {
  color: var(--white);
  background-color: var(--desaturated-dark-cyan);
}

.error {
  font-size: 1.9rem;
  line-height: 1.4;
  text-align: center;
}

.footer {
  color: var(--dark-grayish-cyan);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 0.5rem;
  height: 6rem;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.link:link,
.link:visited {
  color: var(--desaturated-dark-cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--desaturated-dark-cyan);
  transition-property: border-bottom, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.link:active,
.link:hover {
  border-bottom: 1px solid transparent;
}

/* ******************************** */
/* MEDIA QUERIES */
/* ******************************** */

/* ABOVE 608px */
@media (min-width: 38em) {
  .header {
    background-image: url(images/bg-header-desktop.svg);
    background-size: 100% 100%;
    background-size: cover;
    background-position: 50%;
  }

  .container {
    max-width: 70rem;
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .item--search {
    gap: 3rem;
  }

  .container--jobs {
    padding-top: 6.3rem;

    gap: 4.3rem;
  }

  .item--job {
    padding: 3.5rem 2.7rem 2.5rem;
    position: relative;
  }

  .logo-box {
    transform: translate(3rem, -50%);
  }

  .company {
    font-size: 1.65rem;
  }

  .position {
    font-size: 1.75rem;
  }

  .logo {
    width: 5.2rem;
    height: 5.2rem;
  }

  .error {
    font-size: 2rem;
  }
}

/* ABOVE 816px */
@media (min-width: 51em) {
  .container {
    max-width: 95rem;
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .text-box {
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .company {
    font-size: 1.7rem;
    margin-top: 0.1rem;
  }

  .position {
    font-size: 1.8rem;
  }

  .details {
    font-size: 1.65rem;
  }

  .info-box {
    width: 54%;
    max-width: 28rem;
    border-bottom: none;
    padding-bottom: 0;
  }

  .offer-tags-box {
    justify-content: flex-end;
  }

  .error {
    font-size: 2.2rem;
  }
}

/* ABOVE 1008px */
@media (min-width: 63em) {
  .container {
    max-width: 117rem;
    padding-left: 11.5rem;
    padding-right: 11.5rem;
  }

  .container--jobs {
    padding-top: 8rem;
    gap: 2.5rem;
  }

  .item--job {
    padding: 3rem;

    display: flex;
    gap: 2.5rem;
    align-items: center;
  }

  .logo-box {
    position: static;
    transform: none;
  }

  .logo {
    width: 9rem;
    height: 9rem;
  }

  .text-box {
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .company-box {
    gap: 1.7rem;
  }

  .company {
    font-size: 1.75rem;
    margin-top: 0.1rem;
  }

  .feature-tags {
    gap: 0.8rem;
  }

  .position {
    font-size: 2rem;
  }

  .details {
    font-size: 1.65rem;
    gap: 3rem;
  }

  .details-item::after {
    width: 0.45rem;
    height: 0.45rem;
    transform: translate(1.65rem, 0.05rem);
  }

  .offer-tags-box {
    justify-content: flex-end;
  }

  .error {
    font-size: 2.3rem;
  }
}

/* ABOVE 1200px */
@media (min-width: 75em) {
  .container {
    max-width: 130rem;
  }

  .item--job {
    padding: 4rem;
  }

  .company {
    font-size: 1.8rem;
  }

  .position {
    font-size: 2.2rem;
  }

  .details {
    font-size: 1.8rem;
    gap: 3.6rem;
  }

  .details-item::after {
    transform: translate(2rem, 0.05rem);
  }

  .error {
    font-size: 2.4rem;
  }
}
